
################################
######## AUDIO ALERTS###########
################################
# Audio alert macros
[delayed_gcode alert_beeper]
gcode:
    {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
    {defaultcfg.notify_m600_audio} ; Play alert tone
    UPDATE_DELAYED_GCODE ID=alert_beeper DURATION={defaultcfg.notify_alert_freq|int}
# Start the alert beep cycle
[gcode_macro ALERT_BEEP_ON]
gcode:
    UPDATE_DELAYED_GCODE ID=alert_beeper DURATION=1
# Stop the alert beep cycle
[gcode_macro ALERT_BEEP_OFF]
gcode:
    UPDATE_DELAYED_GCODE ID=alert_beeper DURATION=0

