[gcode_macro _KNOMI_STATUS]
variable_homing: False
variable_probing: False
variable_qgling: False
variable_heating_nozzle: False
variable_heating_bed: False
gcode:

[gcode_macro STATUS_HEAT_SURFACE_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
        
[gcode_macro STATUS_HEAT_SURFACE_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_HEAT_CHAMBER_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_HEAT_CHAMBER_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_HEAT_TOOLHEAD_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
     
[gcode_macro STATUS_HEAT_TOOLHEAD_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_PRINTING]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
    
[gcode_macro STATUS_PAUSE]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
    
[gcode_macro STATUS_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
        
[gcode_macro STATUS_CANCEL]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
    
[gcode_macro STATUS_BED_LEVEL_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_BED_LEVEL_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
            
[gcode_macro STATUS_M600]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
    
[gcode_macro STATUS_CLEAN_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_CLEAN_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
        
[gcode_macro STATUS_MESH_START]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE

[gcode_macro STATUS_MESH_END]
gcode:
  DISPLAY
  LED
  KNOMI FUNCTION= VALUE=
  AUDIO
  MESSAGE
  
#[gcode_macro STATUS_]  ## Template
#gcode:
#  DISPLAY STATUS= MESSAGE=
#  LED
#  KNOMI FUNCTION= VALUE=
#  AUDIO
#  MESSAGE

## Sub componet Macros ##

[gcode_macro KNOMI]
gcode:
  {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
  {% set function = params.FUNCTION %}
  {% set value = params.VALUE %}
  {% if defaultcfg.notify_knomi == True %}
    {% if defaultcfg.notify_knomi_version == 1 %}
      {% if function == homming %}
         SET_GCODE_VARIABLE MACRO=G28 VARIABLE=homing VALUE={value}
      {% else %}
        {% if function == probing %}
           SET_GCODE_VARIABLE MACRO=BED_MESH_CALIBRATE VARIABLE=probing VALUE={value}
        {% endif %}
      {% endif %}
    {% else %}
      SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE={function} VALUE={value}
    {% endif %}
  {% endif %}

## Old Function ##
#gcode:
#        {% if defaultcfg.notify_led_status == True %}
#            {defaultcfg.notify_led_status_heat} ; LED feedback
#        {% endif %}
#        M{defaultcfg.notify_output} Preheating chamber ; status feedback
[gcode_macro LED]
gcode:
  {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
  {% if defaultcfg.notify_led == True %}
       
  {% endif %}

[gcode_macro DISPLAY]
gcode:
  {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
  {% set status = params.STATUS %}
  {% set msg = params.MESSAGE %}
  {% if defaultcfg.notify_display == True %}
      {% if status == error %}
         {defaultcfg.notify_display_error_output} {msg}
      {% else %}
        {% if status == silent %}
           {defaultcfg.notify_display_silent_output} {msg}
        {% else %}
          {defaultcfg.notify_display_output} {msg}
        {% endif %}
      {% endif %}   
  {% endif %}

[gcode_macro AUDIO]
gcode:
  {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
  {% set tone = params.TONE %}
  {% if defaultcfg.notify_audio == True %}
       {% if tone == start %}
        {defaultcfg.notify_audio_start}
       {% else %}
         {% if tone == end %}
          {defaultcfg.notify_audio_start}
         {% else %}
           {% if tone == error %}
             {defaultcfg.notify_audio_start}
           {% else %}
             {% if tone == finish %}
               {defaultcfg.notify_audio_start}
             {% else %}
            {% endif %}
			  {% if tone == level %}
                 {defaultcfg.notify_audio_start}
              {% else %}
                 {% if tone == clean %}
                   {defaultcfg.notify_audio_start}
                 {% else %}
                   {% if tone == change %}
                     {defaultcfg.notify_audio_start}
                   {% else %}
                     {% if tone == end %}
                       {defaultcfg.notify_audio_start}
                     {% else %}
                       {tone}
					           {% endif %}
				           {% endif %}
                 {% endif %}
              {% endif %}
           {% endif %}
         {% endif %}
       {% endif %}
  {% endif %}

[gcode_macro MESSAGE]
gcode:
  {% set defaultcfg = printer['gcode_macro _defaultcfg'] %} ; get defaultcfg variables
  {% if defaultcfg.notify_message == True %}
       
  {% endif %}
