[gcode_macro TEMP_SET_PREPRINT]
gcode:
        NOTIFY ;M{output} Preheating bed
        #STATUS_HEATING
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150 ; allow partial nozzle warmup
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1} MAXIMUM={BED_TEMP+5}

[gcode_macro TEMP_SET_PRINT]
gcode:
        NOTIFY ;M{output} Preheating tool
        #STATUS_HEATING
        M104 S{EXTRUDER_TEMP} ; set final nozzle temp
        # Park Toolhead
        G1 Z{25 + printcfg.clean_z} F240
        G1 X{printcfg.clean_x} Y{printcfg.clean_y} F3000 ; move to park position
        #Stabalize temps
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1} MAXIMUM={BED_TEMP+5}
        M109 S{EXTRUDER_TEMP} ; wait for nozzle temp to stabilize
        
[gcode_macro BED_PREP]
gcode:
        ## Notify Homing
        NOTIFY ;M{output} Homing
        #STATUS_HOMING
        {% if printer.toolhead.homed_axes != "xyz" %}
            NOTIFY ;M{output} Homing XY...
            G28 Y X ; home XY axis
        {% endif %}
        NOTIFY ;M{output} Homing Z...
        G28 Z PROBE_LOCK ; home Z axis
        NOTIFY ;M{output} Calibrate Z
        #STATUS_CALIBRATING_Z
        Z_TILT_ADJUST ; adjust z-tilt
        G21 ; set units to millimeters
        G90 ; use absolute coordinates
        # Mesh setup
        NOTIFY ;M{output} Mesh print area
        BED_MESH_CALIBRATE
