################################
######## ADAPTIVE_PURGE ########
################################
[gcode_macro PURGE]
description: A purge macro that adapts to be near your actual printed objects
gcode:
    {% if defaultcfg.purging == True %}
        {% if notifycfg.led_status == True %}
          {notifycfg.led_status_clean} ; LED feedback
        {% endif %}
        {% if notifycfg.audio_status == True %}
          {notifycfg.clean_audio} ; purge nozzle
        {% endif %}
        M{notifycfg.output} Purging Nozzle ; status feedback
        {% if defaultcfg.purge_adaptive == True %}
            {defaultcfg.purge_kamp_type}_PURGE
        {% else %}

        {% endif %}
    {% endif %}
